.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 25vw;
}

.contact__input {
  height: 25px;
  margin-bottom: 12px;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  width: 100%;
}

.contact__txt__area {
  resize: none;
  height: 100px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  width: 100;
}

.submit__btn {
  width: 120px;
  height: 30px;
  margin-top: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #202020;
  cursor: pointer;
}

.contact__fieldset input:focus {
  outline: none;
}

.contact__fieldset textarea:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  .contact__form {
    align-items: center;
    margin-top: 25px;
  }

  .contact__input {
    width: 100%;
  }

  .contact__fieldset {
    min-width: 50vw;
  }
}
