.contact__form__container__large {
  width: 100%;
  height: 70%;
  text-align: center;
  padding: 50px 80px;
  margin: auto;
  background-color: #f0f0f0;
  color: #202020;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 25vw;
}

.contact__fieldset__large {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 40vw;
}

.contact__input {
  height: 25px;
  margin-bottom: 12px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  border: none;
}

.contact__input__large {
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  border: 1px solid #202020;
}

.contact__txt__area {
  resize: none;
  height: 100px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  width: 100;
  border: none;
}

.contact__txt__area__large {
  resize: none;
  height: 175px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  width: 100;
  border: 1px solid #202020;
}

.svg__div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submit__btn {
  width: 120px;
  height: 25px;
  margin-top: 12px;
  border-radius: 5px;
  font-size: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #202020;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.submit__btn__large {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.submit__btn:hover {
  transition: all 0.15s ease-in;
  transform: scale(1.0075);
}

.contact__fieldset input:focus {
  outline: none;
}

.contact__fieldset textarea:focus {
  outline: none;
}

.contact__txt__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .contact__form {
    align-items: center;
    margin-top: 25px;
  }

  .contact__input {
    width: 100%;
  }

  .contact__fieldset {
    min-width: 50vw;
  }

  .contact__form__container__large {
    flex-direction: column;
  }

  .svg__div {
    display: none;
  }

  .contact__txt__container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contact__fieldset__large {
    min-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .contact__txt__container {
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }
  .contact__txt__container h3,
  .contact__txt__container p {
    margin-bottom: 20px;
  }
  .contact__input__large {
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .contact__txt__area__large {
    resize: none;
    height: 150px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .contact__fieldset__large {
    min-width: 90vw;
  }
  .submit__btn__large {
    width: 200px;
    height: 30px;
    font-size: 12px;
  }

  .contact__container {
    width: 100%;
  }

  .contact__fieldset {
    width: 100%;
  }
}
