.navbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100vw;
  padding: 0.5rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  text-transform: uppercase;
  background: #202020;
  color: #f0f0f0;
}

.logo {
  font-size: 20pt;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 30vw;
}

.navbar__item {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .navbar__container {
    flex-direction: column;
    min-height: 110px;
  }
  .navbar__items {
    margin-top: 2rem;
    width: 75vw;
  }
}

@media only screen and (max-width: 425px) {
  .navbar__items {
    width: 95vw;
    font-size: 10pt;
  }
}

@media only screen and (max-width: 340px) {
  .logo {
    font-size: 16pt;
  }
  .navbar__container {
    min-height: 18vh;
  }
}
